In [8]:
import numpy as np
import pandas as pd
import radix as rx

In [6]:
df = pd.read_csv("output09-gnoc_networks-final_with_ipconflict-02.csv", encoding='utf-8')

In [7]:
df.head()

,SerialNumber,NetworkIPv4_CIDR,CountryName,CountryCode,RegionName,RegionCode,CityName,Latitude,Longitude
0,0,10.129.9.192/26,Argentina,AR,Buenos Aires F.D.,07,Buenos Aires,-34.6021,-58.3845
1,1,10.129.13.0/24,Argentina,AR,Buenos Aires F.D.,07,Buenos Aires,-34.6021,-58.3845
2,2,10.129.3.0/24,Argentina,AR,Buenos Aires F.D.,07,Buenos Aires,-34.6021,-58.3845
3,3,10.129.2.0/24,Argentina,AR,Buenos Aires F.D.,07,Buenos Aires,-34.6021,-58.3845
4,4,10.129.7.0/27,Argentina,AR,Buenos Aires F.D.,07,Buenos Aires,-34.6021,-58.3845

In [11]:
df.columns

Index(['SerialNumber', 'NetworkIPv4_CIDR', 'CountryName', 'CountryCode',
       'RegionName', 'RegionCode', 'CityName', 'Latitude', 'Longitude'],
      dtype='object')

In [16]:
root_node = rx.Radix()

In [18]:
for i in range(0, len(df)):
    
    SerialNumber      = str(df.iloc[i]['SerialNumber']).strip('\n')
    NetworkIPv4_CIDR  = str(df.iloc[i]['NetworkIPv4_CIDR']).strip('\n')
    CountryName       = str(df.iloc[i]['CountryName']).strip('\n')
    CountryCode       = str(df.iloc[i]['CountryCode']).strip('\n')
    RegionName        = str(df.iloc[i]['RegionName']).strip('\n')
    RegionCode        = str(df.iloc[i]['RegionCode']).strip('\n')
    CityName          = str(df.iloc[i]['CityName']).strip('\n')
    Latitude          = str(df.iloc[i]['Latitude']).strip('\n')
    Longitude         = str(df.iloc[i]['Longitude']).strip('\n')
    
    rn = root_node.add(NetworkIPv4_CIDR)
    rn.data["SerialNumber"] = SerialNumber
    rn.data["CountryName"] = CountryName
    rn.data["CountryCode"] = CountryCode
    rn.data["RegionName"] = RegionName
    rn.data["RegionCode"] = RegionCode
    rn.data["CityName"] = CityName
    rn.data["Latitude"] = Latitude
    rn.data["Longitude"] = Longitude

In [36]:
output_file = open("output2.csv","w")

In [37]:
nodes = root_node.nodes()

line = "NetworkIPv4_CIDR;SerialNumber;CountryName;CountryCode;RegionName;RegionCode;CityName;Latitude;Longitude\n"
output_file.write(line)


for rnode in nodes:
    line = str(rnode.prefix)+";"+ \
    rnode.data["SerialNumber"]+";"+ \
    rnode.data["CountryName"]+";"+ \
    rnode.data["CountryCode"]+";"+ \
    rnode.data["RegionName"]+";"+ \
    rnode.data["RegionCode"]+";"+ \
    rnode.data["CityName"]+";"+ \
    rnode.data["Latitude"]+";"+ \
    rnode.data["Longitude"]+"\n"
    
    output_file.write(line)
        
output_file.close()

In [38]:
df2 = pd.read_csv("output2.csv", encoding='utf-8', sep=';')
df.tail()

,SerialNumber,NetworkIPv4_CIDR,CountryName,CountryCode,RegionName,RegionCode,CityName,Latitude,Longitude
11133,14714,10.211.253.156/30,United States,US,New York,NY,Redwood,44.3242,-75.8186
11134,14715,10.211.253.176/30,United States,US,New York,NY,Redwood,44.3242,-75.8186
11135,14716,10.213.5.0/24,United States,US,New York,NY,Redwood,44.3242,-75.8186
11136,14717,10.213.4.0/24,United States,US,New York,NY,Redwood,44.3242,-75.8186
11137,14718,10.211.252.72/29,United States,US,New York,NY,Redwood,44.3242,-75.8186

In [39]:
df2['NewSerialNumber'] = df2.index

In [40]:
df2.head()

,NetworkIPv4_CIDR,SerialNumber,CountryName,CountryCode,RegionName,RegionCode,CityName,Latitude,Longitude,NewSerialNumber
0,1.0.5.0/24,13628,Spain,ES,Madrid,29,Alcobendas,40.5458,-3.6443,0
1,1.0.130.0/24,13588,Spain,ES,Madrid,29,Madrid,40.4143,-3.7016,1
2,1.0.131.0/24,13590,Spain,ES,Madrid,29,Madrid,40.4143,-3.7016,2
3,1.0.144.128/26,13532,Spain,ES,Catalonia,56,Barcelona,41.3891,2.1611,3
4,1.0.144.192/28,13533,Spain,ES,Catalonia,56,Barcelona,41.3891,2.1611,4

In [41]:
df2.to_csv("output3.csv",encoding='utf-8', sep=',')