In [2]:
import pandas as pd
import numpy as np

In [5]:
dframe = pd.read_csv('IPLocationMapping.csv', sep=';')

dframe.head()

,network,City,Site,Region,Country,Building,Location,File_Name,Support_Group,IP Address Type,ATON_Building_ID,CRES_Building_ID,comments
0,10.100.131.0/27,Mumbai,Mumbai,APAC,India,Building 5,Gigaplex,IN-NAV-AIROLIGIGAPLEX,Group IT,Private,394,IN041,NaN
1,10.100.131.160/27,Mumbai,Mumbai,APAC,India,Building 5,Gigaplex,IN-NAV-AIROLIGIGAPLEX,Group IT,Private,394,IN041,NaN
2,10.100.132.0/22,Mumbai,Mumbai,APAC,India,Building 5,Gigaplex,IN-NAV-AIROLIGIGAPLEX,Group IT,Private,394,IN041,NaN
3,10.100.136.0/23,Mumbai,Mumbai,APAC,India,Building 5,Gigaplex,IN-NAV-AIROLIGIGAPLEX,Group IT,Private,394,IN041,NaN
4,10.100.138.0/23,Mumbai,Mumbai,APAC,India,Building 5,Gigaplex,IN-NAV-AIROLIGIGAPLEX,Group IT,Private,394,IN041,NaN

In [6]:
dframe.columns

Index(['network', 'City', 'Site', 'Region', 'Country', 'Building', 'Location',
       'File_Name', 'Support_Group', 'IP Address Type', 'ATON_Building_ID',
       'CRES_Building_ID', 'comments'],
      dtype='object')

In [8]:


dframe.drop(['Site', 'Region','Building', 'Location',
       'File_Name', 'Support_Group', 'IP Address Type', 'ATON_Building_ID',
       'CRES_Building_ID', 'comments'],axis=1)

                 network         City Country
0        10.100.131.0/27       Mumbai   India
1      10.100.131.160/27       Mumbai   India
2        10.100.132.0/22       Mumbai   India
3        10.100.136.0/23       Mumbai   India
4        10.100.138.0/23       Mumbai   India
...                  ...          ...     ...
13026    10.246.206.0/24  Navi Mumbai   India
13027    10.246.207.0/24  Navi Mumbai   India
13028    10.246.208.0/24  Navi Mumbai   India
13029    10.246.209.0/24  Navi Mumbai   India
13030    10.246.210.0/25  Navi Mumbai   India

[13031 rows x 3 columns]

In [32]:
ips = dframe[['network']]
ips.head()


uips = dframe['network'].unique()

print(str(len(ips))+","+str(len(uips)))
      
type(uips)

uips = pd.DataFrame(uips)

type(uips)


uips.to_csv('unique_subnets.csv', sep=';', index=False)

13031,13031

In [57]:

city = dframe[['City','Country']]
city.head()


city.to_csv('city_country.csv', sep=';', index=False)

cityu = pd.read_csv('city_country.csv', sep='$')

cityu.head()

cityu = cityu['City;Country'].unique()

len(cityu)

type(cityu)


cityu = pd.DataFrame(cityu)
cityu.head()

cityu.to_csv('unique_cc.csv', index=False)

In [34]:
import ipconflict

# Algorithm


1. read gnoc locations
2. map gnoc location with validation table
3. remove fault entries
4. add into radix tree 
5. get only leaf nodes
6. write leaf node details in the file 
7. import this file